<h1>Transactions</h1>
<div id="newsletters">
  <div class="row">
    <button class="btn btn-primary pull-right" v-on:click="addNewsletter = true">Add New Transaction</button>
  </div>
  <br>
  <div class="row" v-show="addNewsletter">
    <h3 id="addNewsletter">New Transaction</h3>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="input-group">
          <span class="input-group-addon">TO</span>
          <input-tag placeholder="Enter Email" :tags="newsletter.mail_to_list" validate="email"></input-tag>
        </div>
        <span style="color:red" v-show="editingKey === -1 && errors.mail_to_list.length > 0">{{ errors.mail_to_list }}</span>
        <br>
        <div class="input-group">
          <span class="input-group-addon" >CC</span>
          <input-tag placeholder="Enter Email" :tags="newsletter.mail_cc_list" validate="email"></input-tag>
        </div>
        <span style="color:red" v-show="editingKey === -1 && errors.mail_cc_list.length > 0">{{ errors.mail_cc_list }}</span>
        <br>
        <div class="input-group">
          <span class="input-group-addon">BCC</span>
          <input-tag placeholder="Enter Email" :tags="newsletter.mail_bcc_list" validate="email"></input-tag>
        </div>
        <span style="color:red" v-show="editingKey === -1 && errors.mail_bcc_list.length > 0">{{ errors.mail_bcc_list }}</span>           </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="form__label">Transaction Subject</label>
          <input class="form__input" v-model="newsletter.subject" @input="checkblank(newsletter.subject,'subject')">
          <span style="color:red" v-show="editingKey === -1">{{ errors.subject }}</span>
        </div>
        <br>
        <label for="newsletter-content">Transaction Content</label><br>
        <textarea id="newsletter-content" v-model="newsletter.content" rows="4" cols="50" @input="checkblank(newsletter.content,'content')"></textarea>
        <span style="color:red" v-show="editingKey === -1">{{ errors.content }}</span>
      </div>
      <div class="panel-footer">
        <button v-on:click="saveNewsletter" class="btn btn-default">Save</button>
        <button v-on:click="cancelNewsletter(-1)" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>
  <div class="row" v-for="(newsletter, key) in newsletters">
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          <span class="input-group-addon">TO</span>
          <input-tag placeholder="Enter Email" :tags="(key === editingKey) ? editingCache.mail_to_list : newsletter.mail_to_list" validate="email" :read-only="key !== editingKey"></input-tag>
        </div>
        <span style="color:red" v-show="editingKey === key && errors.mail_to_list.length > 0">{{ errors.mail_to_list }}</span>
        <template v-if="newsletter.mail_cc_list.length > 0 || key === editingKey">
          <br>
          <div class="input-group">
            <span class="input-group-addon">CC</span>
            <input-tag placeholder="Enter Email" :tags="(key === editingKey) ? editingCache.mail_cc_list : newsletter.mail_cc_list" validate="email" :read-only="key !== editingKey"></input-tag>
            <span style="color:red" v-show="editingKey === key && errors.mail_cc_list.length > 0">{{ errors.mail_cc_list }}</span>
          </div>
        </template>
        <template v-if="newsletter.mail_bcc_list.length > 0 || key === editingKey">
          <br>
          <div class="input-group">
            <span class="input-group-addon">BCC</span>
            <input-tag placeholder="Enter Email" :tags="(key === editingKey) ? editingCache.mail_bcc_list : newsletter.mail_bcc_list" validate="email" :read-only="key !== editingKey"></input-tag>
            <span style="color:red" v-show="editingKey === key && errors.mail_bcc_list.length > 0">{{ errors.mail_bcc_list }}</span>
          </div>
        </template>
      </div>
      <div class="panel-body">
        <label>Subject :</label> <strong v-show="key !== editingKey"> {{ newsletter.subject }}</strong>
        <template v-if="key === editingKey">
          <input type="text" v-model="editingCache.subject" style="color:black" @input="checkblank(editingCache.subject,'subject')">
          <span style="color:red">{{ errors.subject }}</span>
        </template>
        <br>
        <label>Content : </label><br>
        <pre v-show="key !== editingKey">{{ newsletter.content }}</pre>
        <template v-if="key === editingKey">
          <textarea rows="4" cols="50"  v-model="editingCache.content" @input="checkblank(editingCache.content,'content')"></textarea>
          <span style="color:red">{{ errors.content }}</span>
        </template>
      </div>
      <div class="panel-footer">
        <template v-if="key !== editingKey">
          <button v-on:click="editNewsletter(key)" v-show="key !== editingKey" class="btn btn-success">Edit</button>
          <button v-on:click="destroyNewsletter(newsletter)" v-show="key !== editingKey" class="btn btn-danger">Destroy</button>

          <button v-on:click="sendEmail(newsletter)" class="btn btn-info">Send Email</button>

          <span style="color:red">{{ newsletter.responses.message }}</span>
        </template>
        <template v-else>
          <button v-on:click="updateNewsletter(key)" class="btn btn-success">Update</button>
          <button v-on:click="cancelNewsletter(key)" class="btn btn-default">Cancel</button>
        </template>
      </div>
    </div>
  </div>
</div>
