input {
  border: 1px solid silver;
  border-radius: 4px;
  background: white;
  padding: 5px 10px;
}
.form-group--error > input {
  border-color: red;
  background: #FDD;
}

.error:focus {
  outline-color: #F99;
}

.form-group--valid > input {
  border-color: #5A5;
  background: #EFE;
}

.valid:focus {
  outline-color: #8E8;
}
.form-group__message {
  color: red;
}
